---
layout: default
---

<h1>Course: {{ page.course | capitalize }}</h1>

{% assign current_course = page.course | downcase %}

{%- assign filtered_posts = site.posts | where_exp: "post", "post.courses and post.courses | map: 'downcase' | contains: current_course" -%}

{% if filtered_posts.size > 0 %}
  <ul>
    {% for post in filtered_posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <small>{{ post.date | date: "%B %d, %Y" }}</small>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts found for course "{{ page.course }}".</p>
{% endif %}
