---
layout: default
---

<h1>Semester: {{ page.semester | capitalize }}</h1>

{% assign current_semester = page.semester | downcase %}
{% assign posts_with_semester = site.posts | where_exp: "post", "post.semesters" %}

{% assign filtered_posts = "" | split: "" %}
{% for post in posts_with_semester %}
  {% assign joined = post.semesters | join: "," | downcase %}
  {% if joined contains current_semester %}
    {% assign filtered_posts = filtered_posts | push: post %}
  {% endif %}
{% endfor %}

{% if filtered_posts.size > 0 %}
  <ul>
    {% for post in filtered_posts %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <small>{{ post.date | date: "%B %d, %Y" }}</small>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No posts found for semester "{{ page.semester }}".</p>
{% endif %}
<div class="my-5"></div> <!-- यह Gap देगा -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6225893138851886"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-6225893138851886"
     data-ad-slot="1023470228"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
