---
layout: default
---

<h1>Subject: {{ page.subject | capitalize }}</h1>

<p>Debug: page.subject = '{{ page.subject }}'</p>

<ul>
  {% assign current_subject = page.subject | downcase %}
  {% assign found = false %}

  {% for post in site.posts %}
    <li>
      <strong>{{ post.title }}</strong> - subjects: 
      {% if post.subjects %}
        {{ post.subjects | join: ", " }}
      {% else %}
        <em>No subjects defined</em>
      {% endif %}
    </li>

    {% if post.subjects %}
      {% assign subjects_lower = post.subjects | map: "downcase" %}
      {% if subjects_lower contains current_subject %}
        {% assign found = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

{% unless found %}
  <p>No posts found for subject "{{ page.subject }}".</p>
{% else %}
  <p>Posts found for subject "{{ page.subject }}".</p>
{% endunless %}
