---
layout: default
---

<h1>Subject: {{ page.subject | capitalize }}</h1>

<ul>
  {% assign current_subject = page.subject | downcase %}
  {% assign found = false %}
  
  {% for post in site.posts %}
    {% if post.subjects %}
      {% assign subject_list = post.subjects | map: "downcase" %}
      {% if subject_list contains current_subject %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <small>{{ post.date | date: "%B %d, %Y" }}</small>
        </li>
        {% assign found = true %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>

{% unless found %}
  <p>No posts found for subject "{{ page.subject }}".</p>
{% endunless %}
